# Site Configuration
NEXT_PUBLIC_SITE_URL=https://localhost:3000
NEXT_PUBLIC_SITE_NAME=Portfolio Desarrollador Frontend

# Contact
NEXT_PUBLIC_CONTACT_EMAIL=correo@ejemplo.com

# Analytics
NEXT_PUBLIC_ANALYTICS_ID=

# Environment
NODE_ENV=development
